docs/snapshots/blueprint_staging_v1_initial.json
{"code":"OK","response":{"blueprint":{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"太陽實驗室團報-staging-webhook"}}},"designer":{"x":0,"y":0},"interface":[{"name":"eventId","type":"text"},{"name":"eventType","type":"text"},{"name":"createdAt","type":"text"},{"name":"data","spec":[{"name":"responseId","type":"text"},{"name":"submissionId","type":"text"},{"name":"respondentId","type":"text"},{"name":"formId","type":"text"},{"name":"formName","type":"text"},{"name":"createdAt","type":"text"},{"name":"fields","spec":{"spec":[{"name":"key","type":"text"},{"name":"label","type":"text"},{"name":"type","type":"text"},{"name":"value","type":"text"}],"type":"collection"},"type":"array"}],"type":"collection"},{"name":"__IMTHEADERS__","spec":[{"name":"name","type":"text","label":"Name"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"__IMTMETHOD__","type":"text","label":"Method"}],"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":2267031,"maxResults":1}},{"id":2,"mapper":{"id_fields":"email","properties":{"email":"{{get(map(1.data.fields; \"value\"; \"label\"; \"Email\"); 1)}}","firstname":"{{get(map(1.data.fields; \"value\"; \"label\"; \"家長姓名\"); 1)}}","interested_camp":"{{join(map(get(map(1.data.fields; \"options\"; \"label\"; \"報名營隊\"); 1); \"text\"; \"id\"; get(map(1.data.fields; \"value\"; \"label\"; \"報名營隊\"); 1)); \";\")}}"}},"module":"hubspotcrm:CreateOrUpdateContact","version":1,"metadata":{"designer":{"x":300,"y":0}},"parameters":{"__IMTCONN__":8136110}},{"id":5,"mapper":{"array":"{{1.data.fields}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":600,"y":0},"interface":[{"name":"value","type":"any","label":"Value"}]},"parameters":{}},{"id":8,"filter":{"name":"","conditions":[[{"a":"{{5.label}}","b":"孩子要報名哪些營隊？ (","o":"text:contain"},{"a":"{{5.value}}","b":"empty","o":"text:notequal"},{"a":"{{if(5.value; \"yes\"; \"no\")}}","b":"yes","o":"text:equal"}]]},"mapper":{"from":"drive","limit":"1","filter":[[{"a":"A","b":"{{replace(replace(5.label; \"孩子要報名哪些營隊？ (\"; \"\"); \")\"; \"\")}}","o":"text:contain"}]],"sheetId":"活動設定表","sortOrder":"asc","spreadsheetId":"1NUG_LTOpwwuw3c5eiUHEz7MLUrLdhbWSWQ_6UWXf-r8","tableFirstRow":"A1:CZ1","includesHeaders":false,"valueRenderOption":"UNFORMATTED_VALUE","dateTimeRenderOption":"FORMATTED_STRING"},"module":"google-sheets:filterRows","version":2,"metadata":{"expect":[{"name":"from","type":"select","label":"Search Method","required":true,"validate":{"enum":["drive","share"]}},{"name":"valueRenderOption","type":"select","label":"Value render option","validate":{"enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}},{"name":"dateTimeRenderOption","type":"select","label":"Date and time render option","validate":{"enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"spreadsheetId","type":"select","label":"Spreadsheet Name","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"tableFirstRow","type":"select","label":"Column range","required":true,"validate":{"enum":["A1:Z1","A1:BZ1","A1:CZ1","A1:DZ1","A1:MZ1","A1:ZZ1","A1:AZZ1","A1:BZZ1","A1:CZZ1","A1:DZZ1","A1:MZZ1","A1:ZZZ1"]}},{"name":"filter","type":"filter","label":"Filter","options":"rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=false"},{"name":"orderBy","type":"select","label":"Order by"},{"name":"sortOrder","type":"select","label":"Sort order","validate":{"enum":["asc","desc"]}}],"restore":{"expect":{"from":{"label":"Select from My Drive"},"orderBy":{"mode":"chose"},"sheetId":{"mode":"chose","label":"活動設定表"},"sortOrder":{"mode":"chose","label":"Ascending"},"spreadsheetId":{"mode":"chose","label":"活動設定表_Phase5_v2"},"tableFirstRow":{"label":"A-CZ"},"includesHeaders":{"mode":"chose","label":"No"},"valueRenderOption":{"mode":"chose","label":"Unformatted value"},"dateTimeRenderOption":{"mode":"chose","label":"Formatted string"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (jackson@sigellabs.com)"}}},"advanced":true,"designer":{"x":900,"y":0},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"__ROW_NUMBER__","type":"number","label":"Row number"},{"name":"__SPREADSHEET_ID__","type":"text","label":"Spreadsheet ID"},{"name":"__SHEET__","type":"text","label":"Sheet"},{"name":"0","type":"text","label":"A"},{"name":"1","type":"text","label":"B"},{"name":"2","type":"text","label":"C"},{"name":"3","type":"text","label":"D"},{"name":"4","type":"text","label":"E"},{"name":"5","type":"text","label":"F"},{"name":"6","type":"text","label":"G"},{"name":"7","type":"text","label":"H"},{"name":"8","type":"text","label":"I"},{"name":"9","type":"text","label":"J"},{"name":"10","type":"text","label":"K"},{"name":"11","type":"text","label":"L"},{"name":"12","type":"text","label":"M"},{"name":"13","type":"text","label":"N"},{"name":"14","type":"text","label":"O"},{"name":"15","type":"text","label":"P"},{"name":"16","type":"text","label":"Q"},{"name":"17","type":"text","label":"R"},{"name":"18","type":"text","label":"S"},{"name":"19","type":"text","label":"T"},{"name":"20","type":"text","label":"U"},{"name":"21","type":"text","label":"V"},{"name":"22","type":"text","label":"W"},{"name":"23","type":"text","label":"X"},{"name":"24","type":"text","label":"Y"},{"name":"25","type":"text","label":"Z"},{"name":"26","type":"text","label":"AA"},{"name":"27","type":"text","label":"AB"},{"name":"28","type":"text","label":"AC"},{"name":"29","type":"text","label":"AD"},{"name":"30","type":"text","label":"AE"},{"name":"31","type":"text","label":"AF"},{"name":"32","type":"text","label":"AG"},{"name":"33","type":"text","label":"AH"},{"name":"34","type":"text","label":"AI"},{"name":"35","type":"text","label":"AJ"},{"name":"36","type":"text","label":"AK"},{"name":"37","type":"text","label":"AL"},{"name":"38","type":"text","label":"AM"},{"name":"39","type":"text","label":"AN"},{"name":"40","type":"text","label":"AO"},{"name":"41","type":"text","label":"AP"},{"name":"42","type":"text","label":"AQ"},{"name":"43","type":"text","label":"AR"},{"name":"44","type":"text","label":"AS"},{"name":"45","type":"text","label":"AT"},{"name":"46","type":"text","label":"AU"},{"name":"47","type":"text","label":"AV"},{"name":"48","type":"text","label":"AW"},{"name":"49","type":"text","label":"AX"},{"name":"50","type":"text","label":"AY"},{"name":"51","type":"text","label":"AZ"},{"name":"52","type":"text","label":"BA"},{"name":"53","type":"text","label":"BB"},{"name":"54","type":"text","label":"BC"},{"name":"55","type":"text","label":"BD"},{"name":"56","type":"text","label":"BE"},{"name":"57","type":"text","label":"BF"},{"name":"58","type":"text","label":"BG"},{"name":"59","type":"text","label":"BH"},{"name":"60","type":"text","label":"BI"},{"name":"61","type":"text","label":"BJ"},{"name":"62","type":"text","label":"BK"},{"name":"63","type":"text","label":"BL"},{"name":"64","type":"text","label":"BM"},{"name":"65","type":"text","label":"BN"},{"name":"66","type":"text","label":"BO"},{"name":"67","type":"text","label":"BP"},{"name":"68","type":"text","label":"BQ"},{"name":"69","type":"text","label":"BR"},{"name":"70","type":"text","label":"BS"},{"name":"71","type":"text","label":"BT"},{"name":"72","type":"text","label":"BU"},{"name":"73","type":"text","label":"BV"},{"name":"74","type":"text","label":"BW"},{"name":"75","type":"text","label":"BX"},{"name":"76","type":"text","label":"BY"},{"name":"77","type":"text","label":"BZ"},{"name":"78","type":"text","label":"CA"},{"name":"79","type":"text","label":"CB"},{"name":"80","type":"text","label":"CC"},{"name":"81","type":"text","label":"CD"},{"name":"82","type":"text","label":"CE"},{"name":"83","type":"text","label":"CF"},{"name":"84","type":"text","label":"CG"},{"name":"85","type":"text","label":"CH"},{"name":"86","type":"text","label":"CI"},{"name":"87","type":"text","label":"CJ"},{"name":"88","type":"text","label":"CK"},{"name":"89","type":"text","label":"CL"},{"name":"90","type":"text","label":"CM"},{"name":"91","type":"text","label":"CN"},{"name":"92","type":"text","label":"CO"},{"name":"93","type":"text","label":"CP"},{"name":"94","type":"text","label":"CQ"},{"name":"95","type":"text","label":"CR"},{"name":"96","type":"text","label":"CS"},{"name":"97","type":"text","label":"CT"},{"name":"98","type":"text","label":"CU"},{"name":"99","type":"text","label":"CV"},{"name":"100","type":"text","label":"CW"},{"name":"101","type":"text","label":"CX"},{"name":"102","type":"text","label":"CY"},{"name":"103","type":"text","label":"CZ"}],"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8135559}},{"id":6,"mapper":{"url":"https://sigellabs.com/wp-json/wc/v3/products?status=publish","gzip":false,"method":"get","useMtls":false,"authPass":"cs_e1104bfea680f089771f50c220dd525499e08fd5","authUser":"ck_f7cbbfd92858b7bdc2d5eb667e234d97b1da4023","serializeUrl":true,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"designer":{"x":1200,"y":0}},"parameters":{"handleErrors":true}},{"id":9,"mapper":{"scope":"roundtrip","variables":[{"name":"period","value":"{{if(length(8.`3`) = 10; if(substring(8.`3`; 4; 1) = \"-\"; if(substring(8.`3`; 7; 1) = \"-\"; if(now <= parseDate(8.`3`; \"YYYY-MM-DD\"); \"early_bird\"; \"normal\"); \"normal\"); \"normal\"); \"normal\")}}"},{"name":"period_alert","value":"{{if(length(8.`3`) = 10; if(substring(8.`3`; 4; 1) = \"-\"; if(substring(8.`3`; 7; 1) = \"-\"; \"\"; \"MALFORMED_EARLY_BIRD_DATE\"); \"MALFORMED_EARLY_BIRD_DATE\"); \"\")}}"},{"name":"parent_email","value":"{{get(map(1.data.fields; \"value\"; \"label\"; \"Email\"); 1)}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null]}}},"designer":{"x":1500,"y":0},"interface":[{"name":"period","type":"any","label":"period"},{"name":"parent_email","type":"any","label":"parent_email"}]},"parameters":{}},{"id":10,"mapper":{"scope":"roundtrip","variables":[{"name":"group_size","value":"{{get(get(map(1.data.fields; \"value\"; \"label\"; \"團報人數\"); 1); 1)}}"},{"name":"group_size_text","value":"{{get(map(get(map(1.data.fields; \"options\"; \"label\"; \"團報人數\"); 1); \"text\"; \"id\"; get(get(map(1.data.fields; \"value\"; \"label\"; \"團報人數\"); 1); 1)); 1)}}"},{"name":"selected_price","value":"{{if(9.period = \"early_bird\"; 8.`4`; 8.`6`)}}"},{"name":"payment_link","value":"{{if(9.period = \"early_bird\"; 8.`8`; 8.`10`)}}"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null,null,null,null]}}},"designer":{"x":1800,"y":0},"interface":[{"name":"group_size","type":"any","label":"group_size"},{"name":"group_size_text","type":"any","label":"group_size_text"},{"name":"selected_price","type":"any","label":"selected_price"},{"name":"payment_link","type":"any","label":"payment_link"}]},"parameters":{}},{"id":27,"filter":null,"mapper":{"scope":"roundtrip","variables":[{"name":"payment_button_html","value":"<div style='border:1px solid #f8d7b8;border-radius:8px;padding:15px;margin:10px 0;background:#fff8f0;'><p><strong>🏕️{{replace(replace(5.label; \"孩子要報名哪些營隊？ (\"; \"\"); \")\"; \"\")}}</strong></p><p style='margin:8px 0;'>金額：<strong>NT$ {{10.selected_price}}元</strong></p><a href='{{10.payment_link}}' style='display:inline-block;padding:10px 24px;background:#ff6a00;color:#fff;border-radius:5px;text-decoration:none;font-weight:bold;margin-top:8px;'>前往繳費</a></div>"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":2100,"y":0},"interface":[{"name":"payment_button_html","type":"any","label":"payment_button_html"}]},"parameters":{}},{"id":11,"mapper":{"_method":"compact","properties":[{"key":"dealname","value":"{{get(map(1.data.fields; \"value\"; \"label\"; \"孩子姓名\"); 1)}} x {{replace(replace(5.label; \"孩子要報名哪些營隊？ (\"; \"\"); \")\"; \"\")}}"},{"key":"amount","value":"{{10.selected_price}}"},{"key":"closedate","value":"{{addDays(now; 7)}}"},{"key":"pipeline","value":"75e28846-ad0d-4be2-a027-5e1da6590b98"},{"key":"dealstage","value":"3551665864"}],"parseCustomFields":true},"module":"hubspotcrm:createDeal","version":2,"metadata":{"expect":[{"name":"_method","type":"select","label":"View Method","required":true,"validate":{"enum":["compact","all"]}},{"name":"parseCustomFields","type":"boolean","label":"Parse Custom Fields","required":true},{"name":"properties","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[]},{"name":"value","type":"any","label":"Value"}],"type":"array","label":"Properties"}],"restore":{"expect":{"_method":{"mode":"chose","label":"Compact"},"properties":{"mode":"chose","items":[{"key":{"mode":"chose","label":"Deal Name"}},{"key":{"mode":"chose","label":"Amount"}},{"key":{"mode":"chose","label":"Close Date"}},{"key":{"mode":"chose","label":"Pipeline"}},{"key":{"mode":"chose","label":"Deal Stage"}}]},"parseCustomFields":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"hubspotcrm"},"label":"My HubSpot CRM connection (jackson@sigellabs.com)"}}},"advanced":true,"designer":{"x":2400,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:hubspotcrm","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8136110}},{"id":12,"mapper":{"toObjectId":"{{2.vid}}","fromObjectId":"{{11.id}}","toObjectType":"contacts","fromObjectType":"deals","associationTypeId":"3"},"module":"hubspotcrm:CreateAssociation","version":2,"metadata":{"designer":{"x":2700,"y":0}},"parameters":{"__IMTCONN__":8136110}},{"id":13,"mapper":{"mode":"fromAll","values":{"0":"{{formatDate(1.createdAt; \"YYYY-MM-DD HH:mm:ss\"; \"Asia/Taipei\")}}","1":"{{get(map(1.data.fields; \"value\"; \"label\"; \"家長姓名\"); 1)}}","2":"{{get(map(1.data.fields; \"value\"; \"label\"; \"Email\"); 1)}}","3":"{{get(map(1.data.fields; \"value\"; \"label\"; \"電話\"); 1)}}","4":"{{get(map(1.data.fields; \"value\"; \"label\"; \"孩子姓名\"); 1)}}","5":"{{replace(replace(5.label; \"孩子要報名哪些營隊？ (\"; \"\"); \")\"; \"\")}}","6":"未付款"},"sheetId":"工作表1","spreadsheetId":"1vCXtMmV5zBBKFRmbMlhD4mAAX5TW3lA-4I1mJIp_gaQ","includesHeaders":true,"insertDataOption":"INSERT_ROWS","useColumnHeaders":false,"valueInputOption":"USER_ENTERED","insertUnformatted":false},"module":"google-sheets:addRow","version":2,"metadata":{"expect":[{"name":"mode","type":"select","label":"Search Method","required":true,"validate":{"enum":["select","fromAll","map"]}},{"name":"insertUnformatted","type":"boolean","label":"Unformatted","required":true},{"name":"valueInputOption","type":"select","label":"Value input option","required":true,"validate":{"enum":["USER_ENTERED","RAW"]}},{"name":"insertDataOption","type":"select","label":"Insert data option","validate":{"enum":["INSERT_ROWS","OVERWRITE"]}},{"name":"spreadsheetId","type":"text","label":"Spreadsheet ID","required":true},{"name":"sheetId","type":"select","label":"Sheet Name","required":true},{"name":"includesHeaders","type":"select","label":"Table contains headers","required":true,"validate":{"enum":[true,false]}},{"name":"useColumnHeaders","type":"select","label":"Use column headers as IDs of the columns","required":true,"validate":{"enum":[true,false]}},{"name":"values","spec":[{"name":"0","type":"text","label":"提交時間 (A)"},{"name":"1","type":"text","label":"家長姓名 (B)"},{"name":"2","type":"text","label":"Email (C)"},{"name":"3","type":"text","label":"電話 (D)"},{"name":"4","type":"text","label":"孩子姓名 (E)"},{"name":"5","type":"text","label":"報名營隊 (F)"},{"name":"6","type":"text","label":"付款狀態 (G)"},{"name":"7","type":"text","label":"付款時間 (H)"},{"name":"8","type":"text","label":"備註 (I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"}],"type":"collection","label":"Values in columns","metadata":[[["提交時間","家長姓名","Email","電話","孩子姓名","報名營隊","付款狀態","付款時間","備註"]]]}],"restore":{"expect":{"mode":{"label":"Select from all"},"sheetId":{"mode":"chose","label":"工作表1"},"includesHeaders":{"label":"Yes"},"insertDataOption":{"mode":"chose","label":"Insert rows"},"useColumnHeaders":{"label":"No","nested":[{"name":"values","spec":[{"name":"0","type":"text","label":"提交時間 (A)"},{"name":"1","type":"text","label":"家長姓名 (B)"},{"name":"2","type":"text","label":"Email (C)"},{"name":"3","type":"text","label":"電話 (D)"},{"name":"4","type":"text","label":"孩子姓名 (E)"},{"name":"5","type":"text","label":"報名營隊 (F)"},{"name":"6","type":"text","label":"付款狀態 (G)"},{"name":"7","type":"text","label":"付款時間 (H)"},{"name":"8","type":"text","label":"備註 (I)"},{"name":"9","type":"text","label":"(J)"},{"name":"10","type":"text","label":"(K)"},{"name":"11","type":"text","label":"(L)"},{"name":"12","type":"text","label":"(M)"},{"name":"13","type":"text","label":"(N)"},{"name":"14","type":"text","label":"(O)"},{"name":"15","type":"text","label":"(P)"},{"name":"16","type":"text","label":"(Q)"},{"name":"17","type":"text","label":"(R)"},{"name":"18","type":"text","label":"(S)"},{"name":"19","type":"text","label":"(T)"},{"name":"20","type":"text","label":"(U)"},{"name":"21","type":"text","label":"(V)"},{"name":"22","type":"text","label":"(W)"},{"name":"23","type":"text","label":"(X)"},{"name":"24","type":"text","label":"(Y)"}],"type":"collection","label":"Values in columns","metadata":[[["提交時間","家長姓名","Email","電話","孩子姓名","報名營隊","付款狀態","付款時間","備註"]]]}]},"valueInputOption":{"mode":"chose","label":"User entered"},"insertUnformatted":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"google"},"label":"My Google connection (jackson@sigellabs.com)"}}},"designer":{"x":3000,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:google","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8135559}},{"id":28,"filter":{"name":"period_alert not empty","conditions":[[{"a":"{{9.period_alert}}","b":"","o":"text:notequal"}]]},"mapper":{"asm":{},"from":{"name":"太陽實驗室客服中心","email":"hello@sigellabs.com"},"send_to":[{"email":"jacksonkuo@gmail.com"}],"subject":"[ALERT] Make scenario 4596472 — 早鳥截止日格式異常（{{5.label}}）","reply_to":{},"content_type":"text/plain","content_value":"Make scenario 4596472 偵測到 Sheets 活動設定表早鳥截止日格式異常。\n\n—— 異常資訊 ——\n時間：{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"Asia/Taipei\")}}\n營隊：{{replace(replace(5.label; \"孩子要報名哪些營隊？ (\"; \"\"); \")\"; \"\")}}\nSheets 8.`3` 原始值：「{{8.`3`}}」（應為 YYYY-MM-DD 格式）\n\n—— Fail-safe 已自動觸發 ——\nModule 9 已 fallback 為 period = \"normal\"\n本筆報名將以正常期金額處理，避免錯誤計費。\n\n—— 請人工檢查 ——\n1. 開 Sheets：https://docs.google.com/spreadsheets/d/1dZUNmS28HAuXLBPJchaB84xLlRAXuHeMIFxnIm__738/\n2. 找到該營隊那一列，確認 C 欄（早鳥截止日）為合法 YYYY-MM-DD 格式\n3. 修正後請通知 Jackson 觀察後續報名是否回到 early_bird 分支","templateOrNot":"no_template"},"module":"sendgrid:sendMail","version":1,"metadata":{"expect":[{"name":"from","spec":[{"name":"email","type":"select","label":"Email address","required":true},{"name":"name","type":"text","label":"Name"}],"type":"collection","label":"From"},{"name":"send_to","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Email address","required":true},{"name":"name","type":"text","label":"Name"}],"type":"collection"},"type":"array","label":"Send to","required":true,"validate":{"maxItems":1000}},{"name":"templateOrNot","type":"select","label":"Use SendGrid Transactional template?","required":true,"validate":{"enum":["template","no_template"]}},{"name":"attachments","spec":[{"name":"filename","type":"text","label":"File name","required":true,"semantic":"file:name"},{"name":"content","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"content_id","type":"text","label":"Content ID"}],"type":"array","label":"Attachments"},{"name":"categories","spec":{"name":"value","type":"text","label":"Category","validate":{"max":255}},"type":"array","label":"Categories","validate":{"maxItems":10}},{"name":"send_at","type":"date","label":"Send at"},{"name":"copy_recipient","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Email"},{"name":"name","type":"text","label":"Name"}],"type":"collection"},"type":"array","label":"Copy recipient","validate":{"maxItems":999}},{"name":"blind_copy_recipient","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Email"},{"name":"name","type":"text","label":"Name"}],"type":"collection"},"type":"array","label":"Blind copy recipient","validate":{"maxItems":999}},{"name":"reply_to","spec":[{"name":"email","type":"email","label":"Email address"},{"name":"name","type":"text","label":"Name"}],"type":"collection","label":"Reply to"},{"name":"asm","spec":[{"name":"group_id","type":"select","label":"Group ID"},{"name":"groups_to_display","type":"select","label":"Groups to Display","multiple":true}],"type":"collection","label":"ASM"},{"name":"custom_args","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Custom Args"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"subject","type":"text","label":"Subject","required":true},{"name":"content_type","type":"select","label":"Content Type","required":true,"validate":{"enum":["text/plain","text/html"]}},{"name":"content_value","type":"text","label":"Content","required":true}],"restore":{"expect":{"asm":{"nested":{"group_id":{"mode":"chose"},"groups_to_display":{"mode":"chose"}}},"from":{"nested":{"email":{"mode":"chose","label":"hello@sigellabs.com"}}},"headers":{"mode":"chose"},"send_to":{"mode":"chose","items":[null]},"categories":{"mode":"chose"},"attachments":{"mode":"chose"},"custom_args":{"mode":"chose"},"content_type":{"mode":"chose","label":"Plain text"},"templateOrNot":{"mode":"chose","label":"No"},"copy_recipient":{"mode":"chose"},"blind_copy_recipient":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"sendgrid"},"label":"太陽實驗室 SendGrid (reg_check)"}}},"designer":{"x":3150,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:sendgrid","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8177848}},{"id":14,"mapper":{"parent_email":"{{9.parent_email}}","payment_button_html":"{{27.payment_button_html}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"Iterator [5]"},"target":{"label":"Custom"}}},"designer":{"x":3300,"y":0}},"parameters":{"feeder":5}},{"id":4,"mapper":{"asm":{},"from":{"name":"太陽實驗室客服中心","email":"hello@sigellabs.com"},"send_to":[{"email":"{{1.data.fields[2].value}}"}],"subject":"【太陽實驗室】您的 2026 夏令營報名已收到，請於 7 天內完成繳費","reply_to":{},"content_type":"text/html","content_value":"<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#f9f9f9;\"><div style=\"background:white;padding:30px;border-radius:10px;\"><h2 style=\"color:#e65c1a;\">&#x1F31F; 2026 太陽實驗室夏令營 報名確認</h2><p>親愛的家長您好，感謝您的報名！</p><p>您的報名已成功收到，請於 <strong>7 天內</strong>完成繳費以確保名額。</p><hr style=\"border:none;border-top:1px solid #eee;margin:20px 0;\"><h3 style=\"color:#e65c1a;\">&#x1F4B3; 繳費資訊</h3>{{join(map(14.array; \"payment_button_html\"); \" \"\"\"\"\")}}<hr style=\"border:none;border-top:1px solid #eee;margin:20px 0;\"><p style=\"color:#999;font-size:12px;text-align:center;\">如有疑問請聯繫客服: hello@sigellabs.com</p></div></body><","templateOrNot":"no_template"},"module":"sendgrid:sendMail","version":1,"metadata":{"expect":[{"name":"from","spec":[{"name":"email","type":"select","label":"Email address","required":true},{"name":"name","type":"text","label":"Name"}],"type":"collection","label":"From"},{"name":"send_to","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Email address","required":true},{"name":"name","type":"text","label":"Name"}],"type":"collection"},"type":"array","label":"Send to","required":true,"validate":{"maxItems":1000}},{"name":"templateOrNot","type":"select","label":"Use SendGrid Transactional template?","required":true,"validate":{"enum":["template","no_template"]}},{"name":"attachments","spec":[{"name":"filename","type":"text","label":"File name","required":true,"semantic":"file:name"},{"name":"content","type":"buffer","label":"Data","required":true,"semantic":"file:data"},{"name":"content_id","type":"text","label":"Content ID"}],"type":"array","label":"Attachments"},{"name":"categories","spec":{"name":"value","type":"text","label":"Category","validate":{"max":255}},"type":"array","label":"Categories","validate":{"maxItems":10}},{"name":"send_at","type":"date","label":"Send at"},{"name":"copy_recipient","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Email"},{"name":"name","type":"text","label":"Name"}],"type":"collection"},"type":"array","label":"Copy recipient","validate":{"maxItems":999}},{"name":"blind_copy_recipient","spec":{"name":"value","spec":[{"name":"email","type":"email","label":"Email"},{"name":"name","type":"text","label":"Name"}],"type":"collection"},"type":"array","label":"Blind copy recipient","validate":{"maxItems":999}},{"name":"reply_to","spec":[{"name":"email","type":"email","label":"Email address"},{"name":"name","type":"text","label":"Name"}],"type":"collection","label":"Reply to"},{"name":"asm","spec":[{"name":"group_id","type":"select","label":"Group ID"},{"name":"groups_to_display","type":"select","label":"Groups to Display","multiple":true}],"type":"collection","label":"ASM"},{"name":"custom_args","spec":[{"name":"key","type":"text","label":"Key"},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Custom Args"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"subject","type":"text","label":"Subject","required":true},{"name":"content_type","type":"select","label":"Content Type","required":true,"validate":{"enum":["text/plain","text/html"]}},{"name":"content_value","type":"text","label":"Content","required":true}],"restore":{"expect":{"asm":{"nested":{"group_id":{"mode":"chose"},"groups_to_display":{"mode":"chose"}}},"from":{"nested":{"email":{"mode":"chose","label":"hello@sigellabs.com"}}},"headers":{"mode":"chose"},"send_to":{"mode":"chose","items":[null]},"categories":{"mode":"chose"},"attachments":{"mode":"chose"},"custom_args":{"mode":"chose"},"content_type":{"mode":"chose","label":"HTML"},"templateOrNot":{"mode":"chose","label":"No"},"copy_recipient":{"mode":"chose"},"blind_copy_recipient":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"sendgrid"},"label":"太陽實驗室 SendGrid (reg_check)"}}},"designer":{"x":3600,"y":0},"parameters":[{"name":"__IMTCONN__","type":"account:sendgrid","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":8177848}}],"name":"太陽實驗室 – 團報自動化 v5.1-staging","metadata":{"instant":true,"version":1,"designer":{"orphans":[[{"id":25,"filter":null,"module":"placeholder:Placeholder","metadata":{"designer":{"x":0,"y":300}}}]],"samples":{"1":{"data":{"fields":[{"key":"question_bkOj1Z","type":"MULTIPLE_CHOICE","label":"孩子要報名哪個營隊？","value":["1f03da7e-8f67-47cd-898b-5a9d572ef344"],"options":[{"id":"e89648db-2264-4b64-939f-94be55f5f7cd","text":"[設計思考] 未來家園由我打造！水上方舟規劃師營隊"}]}],"formId":"MeYEJ8","formName":"2026 太陽實驗室夏令營 團報報名","createdAt":"2026-04-28T14:00:05.000Z","responseId":"ArpkzJN","respondentId":"b58gZEE","submissionId":"ArpkzJN"},"eventId":"96b369c4-4c3a-411c-ac6b-e46a1d09636f","createdAt":"2026-04-28T14:00:06.018Z","eventType":"FORM_RESPONSE","__IMTMETHOD__":"POST","__IMTHEADERS__":[{"name":"cf-ipcountry","value":"BE"}]},"2":{"vid":465991876313,"isNew":false},"4":{"XmessageId":"fW4vewe4QVqfCDyFKxHC-Q"},"14":{"array":[],"__IMTAGGLENGTH__":0}}},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"freshVariables":false,"autoCommitTriggerLast":true}}},"scheduling":{"type":"immediately"},"concept":false,"created":"2026-05-06T10:02:31.042Z","last_edit":"2026-05-06T10:02:31.042Z","metadata":{"input_spec":[],"output_spec":[]},"idSequence":29}}